---
layout: default_article
---
<header>
    <h1>{{ page.title }} | <a href="/">{{ site.title}}</a> </h1>
    <p>
        Date : {{ page.date }}
        {% if page.categories != empty %}<br />Categories: {% for cat in page.categories %}<a href="/category/{{ cat | url_encode }}">{{ cat }}</a> {% endfor %}{% endif %}
        {% if page.tags != empty %}<br />Tags: {% for tag in page.tags %}<a href="/tag/{{ tag | url_encode }}">{{ tag }}</a> {% endfor %}{% endif %}
    </p>
</header>
<section>
    <article>
        {{content}}
    </article>
</section>
<footer>
    <a href="#">&#9650;</a>
</footer>
